@using InsightHub.Models
@{
    ViewData["Title"] = "Edição de Projeto";
    Layout = "_LayoutUnscoped";
}
<div class="insert-form">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true" />

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 2em;
            color: white;
        }

        h1 {
            font-size: 2.5em;
            display: flex;
            justify-content: space-around;
        }

        form {
            max-width: 400px;
            margin: auto;
            display: grid;
            justify-items: center;
        }

        label {
            display: flex;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 3px black solid;
            border-radius: 10px;
        }

        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        select {
            width: 100%;
            height: 80px;
            border-radius: 10px;
            top: 14px;
            right: 10px;
            background-color: transparent;
            border: 2px black solid;
        }
    </style>

    <h1>@(ViewBag.Producao != null ? "Editar" : "Adicionar") Producao</h1>
    <br>
    <form
        action="@(ViewBag.Producao != null ? "/gerenciador/producoes/edit-form/" +ViewBag.Producao.Id : "/gerenciador/producoes/edit-form")"
        enctype="multipart/form-data" method="post">
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo"
            value="@(ViewBag.Producao != null ? ViewBag.Producao.Titulo : null)" required>

        <label for="description">Descricao:</label>
        <input type="text" id="description" name="description"
            value="@(ViewBag.Producao != null && ViewBag.Producao.Description != null ? ViewBag.Producao.Description : "")"
            required>

        <label for="filepath">URL para acesso da produção:</label>
        <input type="text" id="filePath" name="filePath" class="data"
            value="@(ViewBag.Producao != null && ViewBag.Producao.FilePath != null ? ViewBag.Producao.FilePath  : "")"
            required>

        <label for="projetoKey">Projeto de origem:</label>
        <select id="projetoKey" name="ProjetoId" required>
            @foreach (Projeto item in ViewBag.Projetos)
            {
                bool isSelected = ViewBag.Producao != null && ViewBag.Producao.ProjetoKey == item.Id ? true : false;
                <option value="@item.Id" selected="@isSelected">@item.Nome</option>
            }
        </select>

        <button type="submit" class="button button--add">Cadastrar</button>
    </form>
</div>