@{
    Layout = "_Layout";
    ViewData["Title"] = "Productions Detail Page";
}

@section scripts {
    <script src="~/site/js/productions-detail.js" asp-append-version="true"></script>
}



<section class="production-detail">
    <div class="production-detail__banner">
        <div class="breadcrumbs text text--13 text--white text--fw400 mb-5">
            <a href="/">INÍCIO</a>
            <a href="/busca">PROJETOS</a>
            <a href="/projetos/@ViewBag.Projeto.Id">@ViewBag.Projeto.Nome</a>
        </div>
        <h4 class="text text--40 text--white text--fw600">@ViewBag.Projeto.Nome</h4>
    </div>
    <div class="production-detail__content">
        <p class="text text--15 text--black text--fw400">@ViewBag.Projeto.DataInicio
        </p>
        <p class="text text--15 text--black text--fw400">@ViewBag.Projeto.DataFim
        </p>
        <p class="text text--15 text--black text--fw400">@ViewBag.Projeto.SubareaId
        </p>

        
    </div>
</section>
